<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LogIn/Register</title>
</head>
<body>
<h2>Sign In</h2>
<div th:if="${errors}" class="error">
    Wrong user or password
</div>

<form th:action="@{/login}" method="POST">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

    <label for="username">Username: </label>
    <input type="text" name="username" id="username" autofocus="autofocus"/><br/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/><br/>
    <input type="submit" value="Log in"/>

</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>