<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:tdth="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>User manager</h1>


<table border="1">
    <tr>
        <th>
        <td th:block th:each="page : ${T(com.example.homeWorkUserManager.model.Privileges).values()}"
            th:value="${page}"
            th:text="${page}"></td>

        </th:block>
        </th>

    </tr>
    <!--"@{'/update/'+${user.id}}"-->
    <th:block th:each="user : ${allusers}">
        <th:block th:each="privilege : user.privileges">
            <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
                <tr>
                    <td th:text="*{username}"></td>
                    <td><label>
                        <input type="checkbox" th:field="*{privileges}" value="PRIVILEGE_YOUTUBE" name="privileges"/>

                    </label>
                    </td>
                    <td><label>
                        <input type="checkbox" th:field="*{privileges}" th:value="${privilege}"
                                      th:checked="${privilege}=='PRIVILEGE_VK'"/>
                    </label>
                    </td>
                    <td><label>
                        <input type="checkbox" th:value="${privilege}"
                                      th:checked="${privilege}=='PRIVILEGE_INSTAGRAM'"/>
                    </label>
                    </td>
                    <td><label>
                        <input type="checkbox" th:value="${privilege}"
                                      th:checked="${privilege}=='PRIVILEGE_FACEBOOK'"/>
                    </label>
                    </td>
                    <td><label><input type="submit" value="SAVE"/></td>
                </tr>
            </form>
        </th:block>
    </th:block>
</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>